* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

form {
  font-family: "Hind Guntur", sans-serif;
  font-size: 1.1em;
  color: black;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1em; }
  form label {
    flex-basis: 100%;
    font-size: 1.8em;
    font-weight: 300;
    text-align: center; }
  form #search {
    font-family: "Hind Guntur", sans-serif;
    font-size: 0.85em;
    color: black;
    font-weight: 400;
    flex-basis: 75%;
    padding: 0.5em 0.25em;
    border: 1px solid #c8cfd6;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px; }
  form #submit {
    font-family: "Hind Guntur", sans-serif;
    font-size: 1.1em;
    color: #3b444c;
    font-weight: 500;
    flex-basis: 100%;
    margin: 1em auto;
    padding: 0.25em 0 0.15em;
    border: none;
    outline: none;
    border-radius: 0.6em;
    background-color: rgba(189, 189, 189, 0.25);
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px; }

#sort {
  padding: 0 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  #sort h2,
  #sort button {
    font-family: "Hind Guntur", sans-serif;
    font-size: 0.85emm;
    color: #3b444c;
    font-weight: 400;
    display: inline-block;
    font-weight: 400;
    font-size: 0.75em; }
  #sort button {
    margin-left: 0.75em;
    padding: 0.25em 0.5em 0.15em;
    border: none;
    outline: none;
    border-radius: 0.6em;
    background-color: rgba(189, 189, 189, 0.25);
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px; }
  #sort hr {
    flex-basis: 100%;
    margin-top: 1em; }

#gallery {
  margin: 0 auto;
  padding: 1em; }
  #gallery .album-gallery {
    display: block;
    margin: 0 auto; }
    #gallery .album-gallery img {
      width: 90%;
      display: block;
      margin: 1em auto;
      box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
      -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
      -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px; }
  #gallery p {
    font-family: "Hind Guntur", sans-serif;
    font-size: 0.8em;
    color: black;
    font-weight: 300;
    text-align: center;
    line-height: 1.25em; }
    #gallery p a {
      text-decoration: none;
      font-family: "Hind Guntur", sans-serif;
      font-size: 1em;
      color: black;
      font-weight: 600; }
      #gallery p a:hover {
        text-decoration: underline;
        color: #3b444c; }
    #gallery p span {
      text-transform: capitalize; }

.error-message {
  font-family: "Hind Guntur", sans-serif;
  font-size: 1em;
  color: black;
  font-weight: 300;
  padding: 1em;
  text-align: center;
  line-height: 1.25em; }

.noscroll {
  position: fixed;
  overflow: hidden; }

#overlay {
  background-color: rgba(189, 189, 189, 0.65);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap; }
  #overlay button {
    font-family: "Hind Guntur", sans-serif;
    font-size: 1.1em;
    color: #778899;
    font-weight: 300;
    outline: none;
    border: none;
    padding: 1.5em 0.25em;
    background-color: white;
    text-align: center;
    border-radius: 0.25em;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px; }
  #overlay #btnExit {
    position: absolute;
    top: -32px;
    right: -260px;
    font-size: 0.9em;
    padding: 0.2em 0.4em 0;
    border-radius: 50%; }

.album,
.movie {
  background-color: rgba(255, 255, 255, 0.94);
  padding: 1em;
  width: 83%;
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 0.25em;
  font-family: "Hind Guntur", sans-serif;
  font-size: 1.15em;
  color: black;
  font-weight: 400;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px; }
  .album .btnWrapper,
  .movie .btnWrapper {
    position: absolute; }

.album-info {
  line-height: 1.25em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap; }
  .album-info .album-art {
    width: 30%; }
  .album-info div {
    width: 65%; }
  .album-info .album-artist {
    font-weight: 600; }
  .album-info .album-title {
    font-size: 1em;
    line-height: 1.25em;
    padding-bottom: 0.25em; }
  .album-info .album-year {
    font-size: 0.85em;
    line-height: 1em; }

.album-tracks,
.movie-info {
  padding-left: 1.2em;
  font-size: 0.95em; }

.album-tracks li {
  font-family: "Hind Guntur", sans-serif;
  font-size: 1em;
  color: black;
  font-weight: 400;
  line-height: 1.25em;
  padding-bottom: 0.35em; }

.movie-info {
  line-height: 1.25em; }
  .movie-info .movie-year {
    font-size: 0.8em; }
  .movie-info .movie-plot {
    font-size: 0.95em; }

/*# sourceMappingURL=application.css.map */
